apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ job_name }}
  labels:
    app: tf
    ring-controller.atlas: ascend-910
spec:
  replicas: {{ node_count }}
  selector:
    matchLabels:
      app: tf
  template:
    metadata:
      labels:
        app: tf
        ring-controller.atlas: ascend-910
        deploy-name: {{ job_name }}                          #和Deployment name保持一致
    spec:
      schedulerName: volcano                                 # 当类型为deployment时，设置为volcano，而不是default-scheduler
      containers:
      - image: {{ docker_image }}
        imagePullPolicy: IfNotPresent
        name: tf
        env:
        - name: RANK_TABLE_FILE
          value: "/user/serverid/devindex/config/hccl.json"  # ConfigMap中data挂载路径，如需修改要和下面ConfigMap的挂载路径一致
        - name: {{ job_name }}                               #和Deployment name保持一致
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: XDL_IP                                       # 物理节点的IP,用来标识Pod运行在哪个节点上
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        command: {{ command }}
        args: {{ args }}
        resources:
          requests:
            huawei.com/Ascend910: {{ npu_count }}
          limits:
            huawei.com/Ascend910: {{ npu_count }}           # 目前需要和上面requests保持一致
        volumeMounts:
          - name: ascend-910-config
            mountPath: /user/serverid/devindex/config
          - name: code
            mountPath: {{ container_code_path }}           # 容器内训练脚本路径
          - name: data
            mountPath: {{ container_data_path }}           # 容器内训练数据集路径
          - name: output
            mountPath: {{ container_output_path }}         # 容器内训练输出路径
          - name: localtime
            mountPath: /etc/localtime
      nodeSelector:
        {{ node_selector }}
      volumes:
      - name: ascend-910-config
        configMap:
          name: rings-config-{{ job_name }}   # 对应configMap的name
      {% if use_nfs %}                        # 是否使用NFS
      - name: code
        nfs:
          server: {{ nfs_server_ip }}         # nfs服务器地址
          path: {{ host_code_path }}          # 物理机上训练脚本的路径
      - name: data
        nfs:
          server: {{ nfs_server_ip }}
          path: {{ host_data_path }}          # 物理机上训练数据集的路径
      - name: output
        nfs:
          server: {{ nfs_server_ip }}
          path: {{ host_output_path }}        # 物理机上模型保存的路径，和脚本有关
      {% else %}
      - name: code
        hostPath:
          path: {{ host_code_path }}          # 物理机上训练脚本的路径
      - name: data
        hostPath:
          path: {{ host_data_path }}          # 物理机上训练数据集的路径
      - name: output
        hostPath:
          path: {{ host_output_path }}        # 物理机上模型保存的路径，和脚本有关
      {% endif %}
      - name: localtime
        hostPath:
          path: /etc/localtime   # 配置docker的时间
